@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-out;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.aboutImage {
  width: 100%;
  max-width: 500px;
  transition: transform 0.3s ease-in-out;
  border-radius: 12px;
}

.aboutImage:hover {
  transform: scale(1.1);
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s, transform 0.3s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.aboutItem:hover {
  background-size: 100% 100%;
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-primary);
}

.aboutItem p {
  font-size: 18px;
  color: var(--color-text);
}

.aboutItem img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.aboutItem img:hover {
  transform: rotate(360deg);
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .aboutImage {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  .aboutItems {
    margin-top: 29px;
    align-items: center;
    gap: 30px;
  }

  .aboutItem {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    box-shadow: none;
    background-size: 100% 100%;
  }

  .aboutItem h3 {
    font-size: 22px;
  }

  .aboutItem p {
    font-size: 18px;
  }
}

/* Add a smooth fade-in effect for the section */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
